@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@400;700&family=Staatliches&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

button {
  background-color: purple;
  columns: #fff;
  /* border-radius: 50%; */
  border: 1px solid purple;
  padding: 20px 30px;
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button .circle {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50% scale(0));
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
